<div class="card-2">
 <h4 style="text-align:center; color: blue;">Hospital Management System</h4>
 <p class="para-2">We are an institution that is built with good people and excellent expertise who have put utmost efforts to bring best medical professionals together. Our stakeholders have made sure that the hospital is well equipped with top-level technologies along with state-of-art infrastructure. We have the credentials to match the highest standards of healthcare. We have achieved this because of our highly experienced and skilled panel of specialists.</p>
                        <p>After being a part of the healthcare and pharmaceutical industry for over 50 years, we are now aim to serve the patients directly. DNS Hospitals is committed to provide accurate and excellent medical care to each and every patient. It embraces diagnostics and an advanced multi-specialty tertiary care center all under one roof. It comes with the premier healthcare facilities and services to cope with the challenges of a modern times or any other emergency.</p>
                        <p>Our doctors follow smooth protocols when it comes to treating the patients. There is consistency, efficiency and care in their approach while planning and executing a treatment for any illness. Our doctors are also backed by qualified, experienced and docile team of nurses. They are well versed with latest techniques involved in specialized treatments and are considered to be best while taking care of patients.</p>
                        <p class="feature-two__text" align="justify">We believe in bringing the best of everything while treating patients and we strive to achieve excellence in the same.
 </p>
</div>


	<div class="row g-2">
	 <div class="col-4">
	  <div class="card-1">
 <h2 style="text-align: center;">Experience</h2>
<p class="para-1">We are passionate about Technology and we are passionate about Healthcare. With a collective experience of more than 9+ years in Healthcare, Healthcare Technology, Marketing, Customer Service and Information Management, Team MocDoc has the experience and is uniquely positioned to understand and meet the challenges that are inherent in the Healthcare sector.
	Most healthcare software systems rely on outdated client server technologies accessible only from network connected desktop computers installed on premises. MocDoc fundamentally changes how you manage your Clinic / Hospitals. With MocDoc, you get a fully integrated healthcare management suite delivered on a cloud-based platform providing you a robust, secure and available solution for your needs.
</p>
 </div>
 </div>
 <div class="col-4">
   <div class="card-1">
   <div class="card" style="width: 22rem;">
    <img src="<%= asset_path"ortho.jpeg"%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Orthopedics</h2>
      <p class="card-text">Orthopedists use surgical and nonsurgical approaches to treat musculoskeletal issues, such as sports injuries, joint pain, and back problems.
      This article provides an overview of orthopedics. It outlines the different conditions that orthopedists treat and explains what a person can expect during an orthopedic appointment.
      </p>
    </div>
  </div>
  </div>
</a>
</div>


 <div class="col-3">
 <div class="card-1">
 <div class="card" style="width: 22rem;">
  <img src="<%= asset_path"blood.jpeg"%>" class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Blood Bank</h2>
    <p class="card-text">This Blood bank module is basically used for receiving requisitions for blood and issuing blood and blood products. It will also help to monitor the blood collection and blood transfusion process and also records the complete process. This module will also help you in maintaining the stock and managing the storage of blood and blood items.</p>
  </div>
</div>
</div>
</div>

<div class="col-4">
 <div class="card-1">
 <div class="card" style="width: 22rem;">
  <img src="<%= asset_path"Nephrology.jpeg"%>"class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Nephrology</h2>
    <p class="card-text">Nephrology is a branch of medical science that deals with the diagnosis and treatment of disorders related to the kidney. Nephrology is a centre of excellence at Apollo and sees more than 10,000 patients every year. Apollo houses some of the very best specialists in the world who specialize in management of kidney failure, dialysis, electrolyte disturbance, diabetic nephropathy, hypertension to kidney transplant.</p>
  </div>
</div>
</div>
</div>

<div class="col-4	">
 <div class="card-1">
 <div class="card" style="width: 22rem;">
  <img src="<%= asset_path"Neurology.jpeg"%>"class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Neurology</h2>
    <p class="card-text"> Neurology is a centre of excellence at Apollo Hospitals and deals with diagnosis and treatment of disorders of the nervous system. The Apollo Hospital Neuro departments are equipped with the best team and state of the art facilities like Neuro radiology, sleep lab, Intensive care units etc. Our Neuro team takes care of more than 300 variety of problems like aneurisms, dementia, Alzheimer’s, epilepsy, cerebro vascular diseases, headache, multiple sclerosis.</p>
  </div>
</div>
</div>
</div>

<div class="col-4">
 <div class="card-1">
 <div class="card" style="width: 22rem;">
  <img src="<%= asset_path"Urology.webp"%>"class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Urology</h2>
    <p class="card-text"> Urology deals with diagnosis and treatment of diseases predominantly of male reproductive organs and the urinary tract of males and females. Apollo Hospitals have state-of-the-art Urology facilities including minimally invasive surgeries, robotics and laparoscopy techniques, fiber-optic endoscopy, and lithotripsy units. An urologist deals with diseases such as Incontinence, prostate enlargement, kidney stones, prostate cancer, penile fractures, urinary infections.</p>
  </div>
</div>
</div>
</div>


<div class="col-4">
 <div class="card-1">
 <div class="card" style="width: 22rem;">
  <img src="<%= asset_path"Gastrologyy.jpeg"%>"class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Gastroenterology</h2>
    <p class="card-text"> Gastroenterology deals with the diagnosis and treatment of complications of the gastrointestinal tract, i.e. the stomach and small intestine. A gastroenterologist deals with patients suffering from gastroenteritis, showing symptoms of vomiting, diarrhea, abdominal pain and cramping. With Apollo Hospitals’ qualified bench strength of Gastroenterologists who are the best in their field, finest treatment is just around the corner.</p>
  </div>
</div>
</div>
</div>


<div class="col-4">
 <div class="card-1">
 <div class="card" style="width: 22rem;">
  <img src="<%= asset_path"Bariatric.jpeg"%>"class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Bariatric Surgery</h2>
    <p class="card-text"> Bariatric Surgery deals with weight reduction using various techniques to combat obesity. The process includes reducing the size of the stomach or removing a portion of the stomach or re-routing the small intestine. Apollo Hospitals is home to the best bariatric surgeons in the nation who are skilled in Gastrectomy and Gastroplasty among other procedures. </p>
  </div>
</div>
</div>
</div>

<div class="col-4">
 <div class="card-1">
 <div class="card" style="width: 22rem;">
  <img src="<%= asset_path"Pulmonary.jpeg"%>"class="card-img-top" alt="...">
  <div class="card-body">
    <h2 class="card-title">Pulmonary</h2>
    <p class="card-text">Pulmonary Medicine at Apollo Hospitals provides expertise in a broad range of diseases including asthma, COPD, critical care, cystic fibrosis, interstitial lung disease, lung cancer, neuromuscular disease, pulmonary hypertension, sarcoidosis, and sleep medicine. </p>
  </div>
</div>
</div>
</div>
